.repoCard {
  box-sizing: border-box;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: background-color 0.3s ease-out;
  border-radius: 5px;
}

.repoCard:hover {
  background-color: cornflowerblue;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-out;
}

.repoLink {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .repoCard {
    margin: 8px;
  }
}

@media (max-width: 414px) {
  .repoCard {
    margin: 8px;
    padding: 8px;
  }
  .repoCard h1 {
    font-size: 24px;
  }
  .repoCard p {
    font-size: 16x;
  }
}
