.repoCard {
  border: 1px solid black;
  box-sizing: border-box;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: background-color 0.3s ease-out;
}

.repoCard:hover {
  background-color: cornflowerblue;
  transition: background-color 0.3s ease-out;
}

.repoLink {
  text-decoration: none;
  color: black;
}
