.contact {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  min-height: fit-content;
}

.header {
  padding-top: 80px;
  margin: 0;
}

@media (max-width: 768px) {
  .contact a {
    margin-right: 16px;
  }
}

@media (max-width: 414px) {
  .contact p {
    padding: 0 16px;
  }
}

@media (max-width: 320px) {
}
