.contact {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.contact input textarea {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.header {
  padding-top: 80px;
  margin: 0;
}

@media (max-width: 768px) {
  .contact a {
    margin-right: 16px;
  }
}

@media (max-width: 414px) {
  .contact p {
    padding: 0 16px;
  }
}
