.home {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  padding-bottom: 48px;
}

.header {
  padding-top: 80px;
  margin: 48px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.headerLeft img {
  margin: 0 16px;
}

.avatar {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.home a {
  text-decoration: none;
  color: cornflowerblue;
}

.home p a:hover {
  text-decoration: underline;
}

.home h2 a:hover {
  text-decoration: underline;
}
