.home {
  background-color: whitesmoke;
  width: 100%;;
  min-height: fit-content;
}

.hello {
  font-size: 48px;
}

.header {
  padding-top: 80px;
  margin: 42px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.headerLeft img {
  margin: 0 16px;
}

.avatar {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.home a {
  text-decoration: none;
  color: cornflowerblue;
}

.home p a {
  font-weight: 700;
}

.home p a:hover {
  text-decoration: underline;
}

.home p a:hover {
  text-decoration: underline;
}

.map {
  width: 50%;
  line-height: 1.5;
  margin: 0 auto;
}

@media (max-width: 414px) {
  .header {
    padding-top: 36px;
    flex-direction: column;
    margin: 36px auto;
  }
  .bottom {
    padding: 12px;
  }
  .avatar {
    width: 225px;
    height: 225px;
    margin-top: 8px;
  }

  .home p {
    font-size: 16px;
    padding: 0 12px;
  }
  .map {
    width: auto;
    line-height: 1.5;
    margin: 0 auto;
    padding: 8px;
  }
  .hello {
    font-size: 36px;
  }
}
