.wrapper {
  margin: 32px auto;
  width: 80%;
}

.featured {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

div h1 {
  margin-bottom: 0;
}

.featured a {
  margin-right: 16px;
}

.featured img {
  width: 100%;
  border: 1px solid #303030;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  width: 120px;
  background-color: cornflowerblue;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  transition: opacity 0.4s ease-out;
  opacity: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 414px) {
  .featured {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    width: 90%;
  }
  .featured img {
    margin-bottom: 8px;
  }
  .featured a {
    margin-right: 0;
  }
}
